* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;

}

.container {
    margin: auto;
    max-width: 1200px;
}

header {
    padding: 40px;
    color: white;
    background-color: #8F8F86;
    color: #000000;
}

#title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3em;
    font-family: 'Monoton', arial, sans-serif, cursive;
}

#paragrafo_title {
    text-align: center;
    font-weight: bold;
    font-size: 1.3em;
    font-family: 'Carter One', arial, sans-serif, cursive;
}

nav {
    background-color: #393827;
    overflow: hidden;
    padding: 15px;
}

li {
    font-weight: bold;
    color: #ffffff;
    float: left;
    list-style: none;
}

.links_nav {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    margin-right: 25px;
}

.links_nav:hover {
    background-color: #242319;
    border-radius: 5px;
}

.formContainer {
    padding: 20px;
    background-image: url("../images/background/vehicles.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

 .formContainer::after {
     content: "";
     clear: both;
     display: table;
}

.formContent {
    background-color: #aca8a8c9;
    border-radius: 5px;
    max-width: 280px;
    height: 500px;
    padding: 20px;
    float: right;
    box-sizing: border-box;
}

.title_form {
    font-size: 22.9px;
}

.text_form {
    text-align: justify;
    font-size: 17px;
}

.margin {
    margin-bottom: 25px;
}

input, select {
    background-color: #ffffff;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #302b2b;
    font-weight: bold;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a79f08;
}

input[type="submit"]:active {
    background-color: #a30606;
}

img {
    border-radius: 10px;
}

#bikes {
    background-color: rgb(39, 38, 38);
    color: #ffffff;
    overflow: hidden;
    text-align: center;
    position: relative;
    height: 1000px;
}

#bikes > h3 {
    font-size: 2.5em;
    margin: 70px 0px 80px 0px;
}

/* Vai alinhar ao centro */
.alinhamento {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* flutuar as divs */
.floatBikes {
    float: right;
}

.floatBikes2 {
    float: right;
}

/* configurações das divbike */
#bike1 {
    position: relative;
    left: 150px;
    margin-bottom: 80px;
}

#bike2 {
    position: relative;
    right: 150px;
    margin-bottom: 80px;
}

#bike3 {
    clear: both;  
    position: relative;
    left: 150px; 
    margin-bottom: 80px; 
}

#bike4 {
    position: relative;
    right: 150px;
    margin-bottom: 80px;
}

@media screen and (max-width: 600px) {
    
    .formContainer {
        padding: 0px;
        background-image: url("../images/background/vehicles.jpg");
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
    }
    
     .formContainer::after {
         content: "";
         clear: both;
         display: table;
    }
    
    .formContent {
        background-color: #aca8a8c9;
        border-radius: 5px;
        max-width: 100%;
        height: 500px;
        padding: 20px;
        float: right;
        box-sizing: border-box;
    }
    

    /* sessão bikes */
    #bikes {
        background-color: rgb(39, 38, 38);
        color: #ffffff;
        overflow: hidden;
        text-align: center;
        position: relative;
        height: 1700px;
    }
    
    #bikes > h3 {
        font-size: 2.5em;
        margin: 70px 0px 80px 0px;
    }
    
    /* Vai alinhar ao centro */
    .alinhamento {
        position: absolute;
        top: 15%;
        left: 0%;
        right: 20%;
        transform: translate(0%, 0%);
    }
    
    /* flutuar as divs */
    .floatBikes {
        float: right;
    }
    
    .floatBikes2 {
        float: right;
    }
    
    /* configurações das divbike */
    #bike1 {
        position: relative;
        left: 0px;
        margin-bottom: 80px;
    }
    
    #bike2 {
        position: relative;
        right: 0px;
        margin-bottom: 80px;
    }
    
    #bike3 {
        clear: both;  
        position: relative;
        left: 0px; 
        margin-bottom: 80px; 
    }
    
    #bike4 {
        position: relative;
        right: 0px;
        margin-bottom: 80px;
    }
}

