* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #000000e3;
}

/* CABEÇALHO */
header {
  padding: 40px;
  /* background-color: #f5c907; */
  background-image: linear-gradient(to right, #9b8402, #f5c907, #f5c907, #aa7a02);
  color: #000000;
  max-width: 100%;
}

#title {
  text-align: center;
  margin-bottom: 20px;
  font-size: 4em;
  font-family: "Monoton", arial, sans-serif, cursive;
}

#paragrafo_title {
  text-align: center;
  font-weight: bold;
  font-size: 1.1em;
  font-family: "Carter One", arial, sans-serif, cursive;
}

/* NAVEGAÇÃO */
nav {
  background-color: #3f3e3bd0;
  overflow: hidden;
  padding: 15px;
  max-width: 100%;
}

li {
  font-weight: 500;
  font-size: 18px;
  color: #ffffff;
  float: left;
  list-style: none;
}

.links_nav {
  text-decoration: none;
  color: #ffffff;
  padding: 10px;
  margin-right: 25px;
}

.links_nav:hover {
  transition-duration: 1s;
  background-color: #1d1d1c;
  border-radius: 5px;
}

/* FORMULÁRIO */

.formContainer {
  padding: 20px;
  background-image: url("../images/background/vehicles.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  max-width: 100%;
}

.formContainer::after {
  content: "";
  clear: both;
  display: table;
}

.formContent {
  background-color: #aca8a8de;
  border-radius: 5px;
  max-width: 280px;
  height: 500px;
  padding: 20px;
  float: right;
  box-sizing: border-box;
}

.title_form {
  font-size: 22.9px;
}

.text_form {
  text-align: justify;
  font-size: 17px;
}

.margin {
  margin-bottom: 25px;
}

input,
select {
  background-color: #ffffff;
  border-radius: 2px;
  width: 100%;
  padding: 10px;
  border: none;
  margin-bottom: 10px;
  box-sizing: border-box;
  outline: none;
}

input {
  color: #242222;
  font-size: 15px;
}

input::placeholder {
  font-weight: normal;
  font-size: 14px;
  color: rgb(88, 88, 97);
}

input:focus, select:focus {
  background-color: rgb(214, 214, 248);
  /* color: white; */
}

button[type="submit"] {
  width: 100%;
  border: none;
  padding: 10px;
  background-color: #302b2b;
  font-weight: bold;
  border-radius: 5px;
  color: #ffffff;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #a79f08;
}

/* Imagens */

img {
  width: 100%;
  display: inline-block;
  border-radius: 5px 5px 0 0;
}

/* Sessão bikes */

.sectionBike {
  background-color: #000000;
  max-width: 100%;
  height: 1400px;
}

#titleBikes {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 100px;
  margin-bottom: 100px;
}

.descriptionBikes {
  background-color: #3a3838;
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;

  margin-left: 15%;
  margin-bottom: 100px;

  float: left;

  position: relative;
  right: 10%;

  transform: translate(50%, 0%);
}

.clearBikes {
  clear: both;
}

.titleDescriptionBike {
  text-align: left;
  color: white;
  margin-bottom: 25px;
  margin-left: 5px;
  font-size: 1.3em;
  font-weight: 300;
}

.descriptionBuyBike {
  text-align: left;
  color: white;
  box-sizing: border-box;
}

.precoBike {
  color: #ffffffa4;
  font-size: 1.6em;
  font-weight: 500;
  text-indent: 3px;
}

.parcelamentoBike {
  color: #ffffffa4;
  font-size: 1.1em;
  font-weight: 500;
  text-indent: 3px;
}

.buyBike {
  text-align: center;
  display: block;

  color: #0f0c0c;
  background-color: #008000;

  font-weight: bold;
  text-decoration: none;

  margin-top: 25px;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
}

.buyBike:hover {
  background-color: #04df04;
  box-shadow: 1px 2px 10px 6px #08ff0883;
  color: #1b1919;
}

/* Sessão Motos */
.sectionMotos {
  max-width: 100%;
  height: 2080px;
  background-color: #000000;
}

#titleMotos {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 100px;
  margin-bottom: 100px;
}

.descriptionMotos {
  background-color: #3a3838;
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;

  margin-left: 15%;
  margin-bottom: 100px;

  float: left;

  position: relative;
  right: 10%;

  transform: translate(50%, 0%);
}

.clearMotos {
  clear: both;
}

.titleDescriptionMotos {
  text-align: left;
  color: white;
  margin-bottom: 25px;
  margin-left: 5px;
  font-size: 1.3em;
  font-weight: 300;
}

.descriptionBuyMotos {
  text-align: left;
  color: white;
  box-sizing: border-box;
}

.precoMoto {
  color: #ffffffa4;
  font-size: 1.6em;
  font-weight: 500;
  text-indent: 3px;
}

.parcelamentoMoto {
  color: #ffffffa4;
  font-size: 1.1em;
  font-weight: 500;
  text-indent: 3px;
}

.buyMoto {
  text-align: center;
  display: block;

  color: #0f0c0c;
  background-color: #008000;

  font-weight: bold;
  text-decoration: none;

  margin-top: 25px;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
}

.buyMoto:hover {
  background-color: #04d404;
  box-shadow: 1px 2px 10px 6px #08ff0883;
  color: #1b1919;
}

/* Sessão Carros */
.sectionCarros {
  max-width: 100%;
  height: 1750px;
  background-color: #000000;
}

#titleCarros {
  color: #ffffff;
  text-align: center;
  font-weight: bold;
  font-size: 2.5em;
  padding-top: 100px;
  margin-bottom: 100px;
}

.descriptionCarros {
  background-color: #3a3838;
  width: 25%;
  text-align: center;
  box-sizing: border-box;
  border-radius: 5px;

  margin-left: 15%;
  margin-bottom: 100px;

  float: left;

  position: relative;
  right: 10%;

  transform: translate(50%, 0%);
}

.clearCarros {
  clear: both;
}

.titleDescriptionCarros {
  text-align: left;
  color: white;
  margin-bottom: 25px;
  margin-left: 5px;
  font-size: 1.3em;
  font-weight: 300;
}

.descriptionBuyCarros {
  text-align: left;
  color: white;
  box-sizing: border-box;
}

.precoCarro {
  color: #ffffffa4;
  font-size: 1.6em;
  font-weight: 500;
  text-indent: 3px;
}

.parcelamentoCarro {
  color: #ffffffa4;
  font-size: 1.1em;
  font-weight: 500;
  text-indent: 3px;
}

.buyCarro {
  text-align: center;
  display: block;

  color: #0f0c0c;
  background-color: #008000;

  font-weight: bold;
  text-decoration: none;

  margin-top: 25px;
  padding: 10px;
  width: 50%;
  border-radius: 5px;
}

.buyCarro:hover {
  background-color: #04d404;
  box-shadow: 1px 2px 10px 6px #08ff0883;
  color: #1b1919;
}

  /* Rodapé */

#footer {
  text-align: center;
  color: #ffffff;
  padding: 10px;
}

#footer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
}

#footer a:hover {
  text-decoration: underline
}


/* Modificações com Media Queire */

@media screen and (max-width: 1300px) {
  /* Sessão Motos */
  .sectionMotos {
    max-width: 100%;
    height: 1900px;
    background-color: #000000;
  }

  /* Sessão Carros */
  .sectionCarros {
    max-width: 100%;
    height: 1600px;
    background-color: #000000;
  }
}

@media screen and (max-width: 1100px) {
  /* Sessão Motos */
  .sectionMotos {
    max-width: 100%;
    height: 1800px;
    background-color: #000000;
  }

  /* Sessão Carros */
  .sectionCarros {
    max-width: 100%;
    height: 1500px;
    background-color: #000000;
  }
}

@media screen and (max-width: 1000px) {
  /* MODIFICAÇÕES DA SESSÃO BIKES */

  .sectionBike {
    background-color: #000000;
    max-width: 100%;
    height: 2400px;
  }

  .descriptionBikes {
    width: 35%;
    margin-left: 0%;

    float: none;

    position: relative;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);
  }

  .clearBikes {
    clear: none;
  }

  /* MODIFICAÇÕES DA SESSÃO MOTOS */

  .sectionMotos {
    background-color: #000000;
    max-width: 100%;
    height: 3630px;
  }

  .descriptionMotos {
    width: 35%;
    margin-left: 0%;

    float: none;

    position: relative;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);
  }

  .clearMotos {
    clear: none;
  }

  /* MODIFICAÇÕES DA SESSÃO CARROS */

  .sectionCarros {
    background-color: #000000;
    max-width: 100%;
    height: 3000px;
  }

  .descriptionCarros {
    width: 35%;
    margin-left: 0%;

    float: none;

    position: relative;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);
  }

  .clearCarros {
    clear: none;
  }
}

@media screen and (max-width: 850px) {
  /* Sessão Motos */
  .sectionMotos {
    max-width: 100%;
    height: 3500px;
    background-color: #000000;
  }

  .descriptionMotos {
    width: 39%;
    margin-left: 0%;

    position: relative;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);
  }

  /* Sessão Carros */
  .sectionCarros {
    max-width: 100%;
    height: 2850px;
    background-color: #000000;
  }

  .descriptionCarros {
    width: 39%;
    margin-left: 0%;

    position: relative;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);
  }
}

@media screen and (max-width: 768px) {
  /* MODIFICAÇÃO DO TÍTULO DO SITE */
  #title {
    font-size: 3em;
  }

  /* MODIFICAÇÕES DA SESSÃO BIKES */
  .descriptionBikes {
    width: 45%;
    margin-left: 0%;

    float: none;

    position: relative;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);
  }

  .clearBikes {
    clear: none;
  }

  /* MODIFICAÇÕES DA SESSÃO MOTOS */

  .sectionMotos {
    max-width: 100%;
    height: 3580px;
    background-color: #000000;
  }

  .descriptionMotos {
    width: 45%;
    margin-left: 0%;

    float: none;

    position: relative;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);
  }

  .clearMotos {
    clear: none;
  }

  /* MODIFICAÇÕES DA SESSÃO CARROS */

  .sectionCarros {
    max-width: 100%;
    height: 2950px;
    background-color: #000000;
  }

  .descriptionCarros {
    width: 45%;
    margin-left: 0%;

    float: none;

    position: relative;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);
  }

  .clearCarros {
    clear: none;
  }
}

@media screen and (max-width: 510px) {
  /* MODIFICAÇÕES DO FORMULÁRIO */

  /* LINKS NAVEGAÇÃO */

  li {
    font-weight: 500;
    font-size: 17px;
    color: #ffffff;
    float: left;
    list-style: none;
  }

  .links_nav {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    margin-right: 27px;
  }

  /* FORMULÁRIO */

  .formContainer {
    padding: 0px;
  }

  .formContent {
    background-color: #aca8a8a9;
    border-radius: 0px;
    max-width: 100%;
    height: 480px;
    padding: 20px;
    float: none;
    box-sizing: border-box;
  }

  .title_form {
    font-size: 22.9px;
  }

  .text_form {
    text-align: justify;
    font-size: 17px;
  }

  .margin {
    margin-bottom: 25px;
  }

  button[type="submit"] {
    background-color: #302b2b;
    font-weight: bold;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
    width: 50%;
  }

  /* MODIFICAÇÕES DA SESSÃO BIKES */

  .sectionBike {
    background-color: #000000;
    max-width: 100%;
    height: 2300px;
  }

  .descriptionBikes {
    width: 55%;
    margin-left: 0%;

    float: none;

    position: relative;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);
  }

  .clearBikes {
    clear: none;
  }

  /* MODIFICAÇÕES DA SESSÃO MOTOS */

  .sectionMotos {
    background-color: #000000;
    max-width: 100%;
    height: 3300px;
  }

  .descriptionMotos {
    width: 60%;
    margin-left: 0%;

    float: none;

    position: relative;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);
  }

  .clearMotos {
    clear: none;
  }

  /* MODIFICAÇÕES DA SESSÃO CARROS */

  .sectionCarros {
    background-color: #000000;
    max-width: 100%;
    height: 2750px;
  }

  .descriptionCarros {
    width: 60%;
    margin-left: 0%;

    float: none;

    position: relative;
    top: 0%;
    left: 50%;

    transform: translate(-50%, 0%);
  }

  .clearCarros {
    clear: none;
  }
}

@media screen and (max-width: 450px) {
  /* NAVEGAÇÃO */
  nav {
    background-color: #3f3e3b;
    overflow: hidden;
    padding: 0px;
    max-width: 100%;
  }

  li {
    font-weight: 400;
    font-size: 18px;
    float: none;
    list-style: none;
    text-align: center;
    padding: 0px;
  }

  .links_nav {
    display: block;
    text-decoration: none;
    color: #ffffff;
    padding: 15px;
    margin-right: 0px;
    width: 100%;
    /* border-top: 1.4px solid black; */
    border-bottom: 1.4px solid black;
    /* border: 1.4px solid black; */
  }

  .links_nav:hover {
    background-color: #1d1d1c;
    border-radius: 0px;
  }

  /* MODIFICAÇÕES DA SESSÃO BIKES */

  .sectionBike {
    background-color: #000000;
    max-width: 100%;
    height: 2200px;
  }

  .descriptionBikes {
    width: 70%;
  }

  /* MODIFICAÇÕES DA SESSÃO MOTOS */

  .sectionMotos {
    background-color: #000000;
    max-width: 100%;
    height: 3280px;
  }

  .descriptionMotos {
    width: 70%;
  }

  /* MODIFICAÇÕES DA SESSÃO CARROS */

  .sectionCarros {
    background-color: #000000;
    max-width: 100%;
    height: 2740px;
  }

  .descriptionCarros {
    width: 70%;
  }
}

@media screen and (max-width: 400px) {
  /* MODIFICAÇÕES DO CABEÇALHO E NAVEGAÇÃO DO SITE */

  #title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.6em;
    font-family: "Monoton", arial, sans-serif, cursive;
  }

  #paragrafo_title {
    text-align: center;
    font-weight: bold;
    font-size: 1em;
    font-family: "Carter One", arial, sans-serif, cursive;
  }

  /* MODIFICAÇÕES DA SESSÃO BIKES */

  .sectionBike {
    background-color: #000000;
    max-width: 100%;
    height: 2250px;
  }

  /* MODIFICAÇÕES DA SESSÃO MOTOS */

  .sectionMotos {
    background-color: #000000;
    max-width: 100%;
    height: 3200px;
  }

  .descriptionMotos {
    width: 70%;
  }

  /* MODIFICAÇÕES DA SESSÃO CARROS */

  .sectionCarros {
    background-color: #000000;
    max-width: 100%;
    height: 2800px;
  }

  .descriptionCarros {
    width: 70%;
  }
}
