* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000e3;

}

/* CABEÇALHO */
header {
    padding: 40px;
    color: white;
    background-color: #f5c907;
    color: #000000;
    max-width: 100%;
}

#title {
    text-align: center;
    margin-bottom: 20px;
    font-size: 3.8em;
    font-family: 'Monoton', arial, sans-serif, cursive;
}

#paragrafo_title {
    text-align: center;
    font-weight: bold;
    font-size: 1.4em;
    font-family: 'Carter One', arial, sans-serif, cursive;
}

/* NAVEGAÇÃO */
nav {
    background-color: #3f3e3b;
    overflow: hidden;
    padding: 15px;
    max-width: 100%;
}

li {
    font-weight: bold;
    color: #ffffff;
    float: left;
    list-style: none;
}

.links_nav {
    text-decoration: none;
    color: #ffffff;
    padding: 10px;
    margin-right: 25px;
}

.links_nav:hover {
    background-color: #1d1d1c;
    border-radius: 5px;
}

/* FORMULÁRIO */
.formContainer {
    padding: 20px;
    background-image: url("../images/background/vehicles.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    max-width: 100%;
}

 .formContainer::after {
     content: "";
     clear: both;
     display: table;
}

.formContent {
    background-color: #aca8a8de;
    border-radius: 5px;
    max-width: 280px;
    height: 500px;
    padding: 20px;
    float: right;
    box-sizing: border-box;
}

.title_form {
    font-size: 22.9px;
}

.text_form {
    text-align: justify;
    font-size: 17px;
}

.margin {
    margin-bottom: 25px;
}

input, select {
    background-color: #ffffff;
    border-radius: 2px;
    width: 100%;
    padding: 10px;
    border: none;
    margin-bottom: 10px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #302b2b;
    font-weight: bold;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #a79f08;
}

/* Imagens */

img {
    width: 100%;
    border-radius: 5px;
    display: inline-block;
}

/* Sessão bikes */

.sectionBike {
    background-color: #1d1b1b;
    max-width: 100%;
    height: 1300px;
}

#titleBikes {
    color: #ffffff;
    text-align: center;
    font-weight: bold;
    font-size: 2.5em;
    margin-top: 100px;
    margin-bottom: 100px;
}

.descriptionBikes {
    background-color: #3a3838;
    width: 25%;
    text-align: center;

    margin-left: 15%;
    margin-bottom: 100px;

    float: left;

    position: relative;
    right: 10%;

    transform: translate(50%, 0%);
}

.titleBike {
    text-align: left;
    color:white;
    margin-bottom: 25px;
}

.descriptionBuy {
    text-align: left;
    color: white;
    margin-bottom: 25px;
}

.buttomBuy {
    text-align: center;
    color: white;
    background-color: green;
    width: 50%;
    padding: 5px;
}

.clearBikes {
    clear: both;
}

.sessãoMoto {
    background-color: red;
    max-width: 100%;
    height: 1550px;
}